.burger__window{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -100%;
    z-index: 3;
    background: #000;
    transition: top .3s;
    ul li{
        margin-bottom: 15px;
    }
    ul li a {
        color: white;
        font-size: 35px;
    }
}
._open_window{
    top: 0;
}