.burger__window{
    position: absolute;
    z-index: 3;
    background: #000;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform .3s;
    ul li{
        margin-bottom: 15px;
    }
    ul li a {
        color: white;
        font-size: 35px;
    }
}
._open_window{
    transform: translateY(0%);
}