.children{
    background: #2A196A;

    .children-wrapper{
        padding: 40px 0;

        .swiper-clubs{
            max-width: 824px;
        }

        .swiper-container{
            margin-left: 0;
        }

        .children__info{

            .children__info-main{

                .children__info-title{
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 28px;
                }
                .children__info-title h2{
                    font-size: 1.714em;
                    font-weight: 800;
                }
                .children__info-discription{
                    margin-top: 30px;
                }
                .children__info-discription h3{
                    margin-bottom: 5px;
                }
                .children__info-discription p{
                    font-size: 1.285em;
                    line-height: 1.166em;
                }
                .children__info-options{
                    margin-top: 35px;

                    .children__info-options__item{
                        flex: 33.333%;
                    }
                    .children__info-options__contacts h3,
                    .children__info-options_age h3,
                    .children__info-options__schelude h3{
                        font-size: 1.142em;
                        margin-bottom: 5px;
                    }
                    .children__info-options__contacts p{
                        font-size: 1.285em;
                    }
                    .children__info-options__contacts p:first-of-type,
                    .children__info-options_age p,
                    .children__info-options__schelude p{
                        line-height: 1.222em;
                    }
                }

            }

            .children__info_img{
                margin-left: 30px;
                max-width: 255px;
                min-width: 255px;
            }


        }

        .children__info-nav{
            transform: translateY(-15px);

            .children__info-nav__switch{
                margin-top: 85px;
                justify-content: flex-end;

                .swiper-clubs-prev{
                    margin-right: 15px;
                }
                .swiper-clubs-next{
                    margin-left: 15px;
                }

            }

            .children__info-nav__title span{
                font-size: 4.28em;
                line-height: 1.233em;
                text-align: right;
                font-weight: 800;
                color: #6A8FEF;
            }
        }
    }
}