@media (max-width: 1500px){
    .header__container{
        padding: 0 60px;
    }
    .slider .slide_main{
        padding: 0 60px;
    }
    .slider .swiper__prev{

    }
    .slider .swiper__prev_sett {
        margin-right: 7.4vw;
    }
    .slider .swiper__next_sett {
        margin-left: 7.4vw;
    }
    .slider .swiper__prev svg,
    .slider .swiper__next svg{
        width: 110px;
    }
}
@media (max-width: 1100px){
    .slider .swiper__prev_sett {
        margin-right: 7.4vw;
    }
    .slider .swiper__next_sett {
        margin-left: 7.4vw;
    }
    .slider .swiper__prev svg,
    .slider .swiper__next svg{
        width: 110px;
    }
}
@media (max-width: 1000px){
    .header__nav{
        display: none;
    }
}
@media (max-height: 900px){
    .slider .slide_main__content .slide_main__content-text .content-text__date span{
        font-size: 1.6em;
    }
    .slider .slide_main__content .slide_main__content-text .content-text__title h2{
        font-size: 3em;
    }
    .slider .slide_main__content .slide_main__content-text .content-text__discription p{
        font-size: 1.3em;
    }
    .slider .slide_main .slide_main__type img{
        max-height: 25em;
    }
    .slider .slide_main__content .slide_main__content-text .content-text__redirect-button a{
        font-size: 1.55em;
    }
}
